@import 'styles/theme';

.places-box-container {
  padding: 20px;
  display: flex;
  flex-direction: column;

  & > p {
    font-size: 18px;
    color: $mainColor;
    text-align: center;
  }

  .place {
    height: 150px;
    margin-bottom: 15px;
    border-radius: $borderRadius;
    box-shadow: 2px 2px 4px 0px lighten($mainColor, 30%);
    display: flex;
    position: relative;
    transition: all 0.3s linear;

    &:hover {
      box-shadow: 3px 3px 5px 0px lighten($mainColor, 30%);
    }

    .content {
      padding: 15px 10px;
      width: calc(100% - 200px);
      color: $mainColor;

      p:first-child {
        font-size: 22px;
        line-height: 7px;
      }

      span {
        font-size: 14px;
        color: lighten($mainColor, 30%);
      }

      .weather-next-week {
        margin-top: 59px;
        color: #adadad;
        font-size: 14px;

        span {
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }

    .thumb {
      width: 220px;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .maps-button {
      position: absolute;
      right: 10px;
      bottom: 15px;
      padding: 10px;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      background-color: $secondaryColor;
      border-radius: $borderRadius;
      border: none;
      cursor: pointer;
    }
  }
}
